/*   E-Book  */
html{
    font-size: 10px;
}
.e-book{
    display: flex;
    width: 150.0rem;
    height: 80.0rem;
    align-items: center;
    justify-content: space-around;
    width: fit-content;
}
.image-ebook{
    width: 61.5rem;
    height: 61.5rem;
    width: fit-content;
}
.image-ebook img{
    width: 100%;
    max-height: 100%;
    margin-left: 2.0rem;
}
.text-ebook{
    width: 63.6rem;
    height: 77.0rem;
    margin-right: 5.0rem;
    margin-left: 8rem;
    width: fit-content;
}
.icon{
    display: flex;
    border-radius: 4.0rem;
    width: 20.2rem;
    height: 5.3rem;
    font-family: 'Poppins';
    font-size: 1.4rem;
    font-weight: 50.0;
    letter-spacing: 0em;
    background: rgba(23, 123, 165, 1);
    color: #fff;
    text-align: center;
    align-items: center;
    justify-content: center;
    transform: translate(0,-13.0rem);
}
.text-box{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transform: translate(0,-1.0rem);
}
.heading{
    height: 10.0rem;
    font-family: 'Poppins';
    font-size: 4.8rem;
    font-weight: 600;
    line-height: 7.2rem;
    letter-spacing: 0em;
    text-align: left;
    color: rgba(23, 123, 165, 1);
}
.para{
    font-family: 'Poppins';
    font-size: 2.4rem;
    font-weight: 400;
    line-height: 3.6rem;
    letter-spacing: 0em;
    text-align: justified;
}
.icon a{
    text-decoration: none;
    color: #fff;
}


/*   Media queries   */

@media (max-width:1200px){
    html{
        font-size: 8px;
    }
}
@media (max-width:800px)
{
    html{
        font-size: 7px;
    }
}
@media (max-width:615px)
{
    html{
        font-size: 7px;
    }
    .e-book{
        flex-direction: column-reverse;
    }
    .text-box{
        height: 60vh;
        transform: translate(0,23rem);
    }
    .image-ebook{
        transform: translate(0,13rem);
    }
}
@media (max-width:500px)
{
    html{
        font-size: 6px;
    }
}
