html{
    font-size: 10px;
}

/* Nav Bar  */

.box-nav{
    max-width: 170.0rem;
    display: flex;
    margin-top: 0.5rem;
    height: 7.2rem;
    font-family: 'Manrope';
    font-weight: 400;
    width: fit-content;
}
.box-nav > h1{ 
    margin-left: 6.0rem;
    letter-spacing: 0.3rem;
    font-size: 5rem;
    margin-top: 1.4rem;
    width: fit-content;
}
.nav{
    display: flex;
    width: 80.5rem;
    height: 4rem;
    align-items: center;
    margin-left: 20rem;
    margin-top: 3.1rem;
    margin-bottom: 2.0rem;
    justify-items: end;
    justify-content: space-between;
    width: fit-content;
}
.nav a{
    text-decoration: none;
    font-family: 'Poppins';
    font-weight: 400;
    color: rgb(32, 28, 28);
    height: 3rem;
    width: 11rem;
    text-align: center;
    background: #ffffff;
    border: 2px solid rgb(208, 4, 99);
    border-radius: 2rem;
}    

/* Explore Page  */

.explore{
    width: 142.5rem;
    height: 74.0rem;
    margin: auto;
    margin-top: 3rem;
    position: relative;
    width: fit-content;
}
.explore-content{
    color: #fff;
    font-family: 'Bodoni Moda', serif;
    font-size: xx-large;
    position: absolute;
    top: 20%;
    left: 20%;
    transform: translate(0rem,-9.0rem);
}
.explore-content h1{
    font-size: 7rem;
}
.img1{
    display: block;
    max-width: 100vw;
}

/*  blocks in explore  */
.o1{
    margin: auto;
    border-radius: 5.0rem 5.0rem 0 0;
    background-color: rgba(255, 255, 255, 0.7);
    display: flex;
    width: 33.0rem;
    height: 7.4rem;
    position: absolute;
    bottom: 25%;
    left: 25%;
    padding: 1.6rem, 3.2rem, 1.6rem, 3.2rem;
}
.o1i1, .o1i2{
    border-radius: 5.0rem 5.0rem 0 0;
    font-size: large;
    width: 50%;
    display: inline-block;
    text-align: center;
}
.o1i1{
    border-radius: 4.0rem;
    color: #fff;
    background-color: #177BA5;
    width: 13.3rem;
    height: 4.2rem;
    padding-top: 1.0rem;
    margin: auto;
}
.o1i2{
    height: 3.6rem;
    width: 10.1rem;
    padding-top: 2.0rem;
    padding-right: 1.0rem;
}
.o1i1 a{
    text-decoration: none;
    color: #fff;
}
.o1i2 a{
    text-decoration: none;
    color:black;
}
#change{
    font-size: 1.6rem;
}
   

/*  Media queries  */
@media (max-width:1200px)
{
    html{
        font-size: 8px;
    }
}
@media (max-width:1025px)
{
    html{
        font-size: 7px;
    }
    .box-nav{
        flex-direction: column;
        align-items: center;
    }
    .nav{
        transform: translate(-15rem,0);
    }
    .box-wrapper{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .img1{
        margin-top: 10rem;
        height: 70vh;
    }
}
@media (max-width:615px)
{
    html{
        font-size: 6px;
    }
}
@media (max-width:615px)
{
    html{
        font-size: 5px;
    }
}
