html{
    font-size: 10px;
}
/* ################ navbar styling  ########## */
 /* for desktop mode */

 .navbar input[type='checkbox'],
 .navbar .hamburger-lines,
 .navbar .menu-items,
 .navbar .logo{
    display: none;
 }
 .navbar{
    z-index: 1000;
    opacity: 0.85;
 }
/* Nav Bar  */

.box-nav{
    max-width: 170.0rem;
    display: flex;
    margin-top: 0.5rem;
    height: 9.2rem;
    font-family: 'Manrope';
    font-weight: 400;
    width: fit-content;
}
.box-nav > h1{ 
    
    margin-left: 3.0vw;
    letter-spacing: 0.3rem;
    font-size: 5rem;
    margin-top: 1.4rem;
    width: fit-content;
}
.nav{
    display: flex;
    width: 80.5rem;
    height: 4rem;
    align-items: center;
    margin-left: 20rem;
    margin-top: 3.1rem;
    margin-bottom: 2.0rem;
    justify-items: end;
    justify-content: space-between;
    width: fit-content;
}
.nav a{
    text-decoration: none;
    font-family: 'Poppins';
    font-weight: 400;
    color: rgb(32, 28, 28);
    height: 3rem;
    width: 11rem;
    text-align: center;
    background: #ffffff;
    border: 2px solid rgb(208, 4, 99);
    border-radius: 2rem;
    z-index: 4;
}    
.nav a:hover{
    background-color: rgb(212, 56, 173);
    color: #fff;
}
/* Explore Page  */

.explore{
    width: 142.5rem;
    height: 74.0rem;
    margin: auto;
    margin-top: 3rem;
    position: relative;
    width: fit-content;
    position: relative;
}
.explore-content{
    color: #fff;
    font-family: 'Bodoni Moda', serif;
    font-size: xx-large;
    position: absolute;
    top: 20%;
    left: 20%;
    transform: translate(0rem,-9.0rem);
}
.explore-content h1{
    font-size: 7rem;
}
.img1{
    display: block;
    width: 105vw;
    transform: translate(-1.34rem,0);
}

/*  blocks in explore  */
.o1{
    margin: auto;
    border-radius: 5.0rem 5.0rem 5rem 5rem;
    background-color: rgba(255, 255, 255, 0.812);
    display: flex;
    width: 33.0rem;
    height: 7.4rem;
    position: absolute;
    bottom: 25%;
    left: 25%;
    padding: 1.6rem, 3.2rem, 1.6rem, 3.2rem;
    transform: translateY(-7rem);
}
.o1i1, .o1i2{ 
    border-radius: 5.0rem 5.0rem 0 0;
    font-size: large;
    width: 50%;
    display: inline-block;
    text-align: center;
}
.o1i1{
    border-radius: 4.0rem;
    color: black;
    /* background-color: #177BA5; */
    width: 13.3rem;
    height: 4.2rem;
    padding-top: 1.0rem;
    margin: auto;
}
.o1i2{
    height: 3.6rem;
    width: 10.1rem;
    padding-top: 2.0rem;
    padding-right: 1.0rem;
}
.o1i1 a{
    text-decoration: none;
    color: black;
}
.o1i2 a{
    text-decoration: none;
    color:black;
}
#change{
    font-size: 1.6rem;
}
.o2{
    margin-bottom: 0;
    display: flex;
    background-color: rgb(255, 255, 255, 0.812);
    width: 50vw;
    height: 26vh;
    border-radius: 5rem 5rem 5rem 5rem;
    transform: translate(37.5vh,-70.5vh);
    justify-content: space-around;
    align-items: center;
    background-color: #ffffffdf;
    
}
.box-o2i1 , .box-o2i2{
    font-size: 2rem;
    width: 18.477rem;
    height: 10.9rem;
    padding: 3.2rem;
    border-radius: 4.0rem;
    gap: 3.2rem;
    border: 2px solid red;
}





/*  Media queries  */



@media (max-width:1200px)
{
    html{
        font-size: 8px;
    }
}
/*  */
@media (max-width:1030px){

    html{
        font-size: 7px;
    }
    .box-nav{
        flex-direction: column;
        align-items: center;
    }
    .nav{
        transform: translate(-15rem,0);
    }
    .box-wrapper{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .img1{
        height: 70vh;
        width: 100vw;
        margin-top: 0rem;
    }
    .box-nav .nav{
        display: none;
    }
    .box-nav h1{
        transform: translate(30rem,0);
    }
    .navbar-container input[type='checkbox'],
    .navbar-container .hamburger-lines,
    .navbar .menu-items,
    .navbar .logo{
        display: block;
    }
    .navbar-container{
        display: block;
        position: relative;
        height: 64px;
    }
    .navbar-container input[type='checkbox']{
        position: absolute;
        display: block;
        height:32px;
        width: 40px;
        top: 20px;
        left: 20px;
        z-index: 5;
        opacity: 0;
    }
    .navbar-container .hamburger-lines{
        display: block;
        height: 32px;
        width: 40px;
        position: absolute;
        top: 20px;
        left: 20px;
        z-index: 2;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .navbar-container .hamburger-lines .line{
        display: block;
        height: 4px;
        width: 100%;
        border-radius: 10px;
        background: #333333;
    }
    .navbar-container .hamburger-lines .line-1{
        transform-origin: 0% 0%;
        transition: transform 0.4s ease-in-out;
    }
    .navbar-container .hamburger-lines .line-2{
        transform: 0% 100%;
        transition: transform 0.4s ease-in-out;
    }
    .navbar-container .hamburger-lines .line-3{
        transform-origin: 0% 0%;
        transition: transform 0.4s ease-in-out;
    }
    .navbar .menu-items{
        padding-top: 100px;
        background: #fff;
        height: 100vh;
        max-width: 300px;
        transform: translate(-150%);
        flex-direction: column;
        margin-left: -40px;
        padding-left: 50px;
        transition: transform 0.5sec ease-in-out;
        box-shadow: 5px 0px 10px #aaa;
    }
    .navbar .menu-items li{
        margin-bottom: 3rem;
        font-size: 2rem;
        font-weight: 500;
    }
    .navbar .menu-items a{
        text-decoration: none;
        font-size: 2.6rem;
        color: rgb(143, 2, 2);
    }
    .logo{
        position: absolute;
        top: 10px;
        right: 15px;
        font-size: 3rem;
    }
    .navbar-container input[type='checkbox']:checked ~ .menu-items{
        transform: translateX(0);
    }
    .navbar-container input[type='checkbox']:checked ~ .hamburger-lines .line-1{
        transform: rotate(45deg);
    }
    .navbar-container input[type='checkbox']:checked ~ .hamburger-lines .line-2{
        transform: scaleY(0);
    }
    .navbar-container input[type='checkbox']:checked ~ .hamburger-lines .line-3{
        transform: rotate(-45deg);
    }
}
@media (max-width:560px){
    html{
        font-size: 6px;
    }
}
@media (max-width: 515px){
    .img1{
        height: 50vh;
    }
    .box-nav h1{
        transform: translate(20rem,0);
    }
}